<h1>Questions#index</h1>
<p>Find me in app/views/questions/index.html.erb</p>


<p id="notice"><%= notice %></p>

<h1>Questions</h1>

<table>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td><%= question.user.email %></td>
        <td><%= question.created_at.to_s(:long) %></td>
        <td><%= question.answers.count %></td>
        <td><%= question.topic.title %></td>
        <td><%= link_to 'Show', question %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
<br>
<br>

<%= will_paginate @questions %>
