
<h1 class= "text-center">Questions</h1>
<p class= "text-center">There is no such thing as a stupid question, only stupid people.</p>
<p id="notice"><%= notice %></p>

<div class="user-controls controls-wrapper">
    <div class="row">
    <div class="col-sm-4 col-xs-8">
      <div class="btn btn-default">
      <%= link_to 'New Question', new_question_path %>
      </div>
        </div>
        <div class="col-sm-8 col-xs-8">
          <div class="input-group pull-right">
            <%= form_tag(questions_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Questions" %>
            <%= submit_tag "Search" %>
            <% end %>
            <% if @questions.present? %>
              <% render "form" %>
            <% else %>
              <p>There are no questions containing the term(s) <%= params[:search] %>.</p>
            <% end %>
          </div>
    </div>
    </div>
    <div class="row sorting-links">
        <div class="col-md-12">
            <ul class="list-inline">
                <li class="active"><%= sort_link "title" %></li>
                <li><%= sort_link "topic_id" %></li>
                <li><%= sort_link "created_at" %></li>
                <li class= "pull-right "><%= will_paginate @questions %></li>
        </div>
    </div>
</div>

<div class="table-wrapper">
  <table class="table table-hover table-users">
    <tbody>
    <% @questions.each do |question| %>
            <tr>
            <% if question.user.is_teacher? || question.user.is_admin? %>

              <td><%= link_to image_tag(question.user.profile.avatar, class: 'avatar avatar-teacher'), controller: :profiles, action: :show, id: question.user.profile.id %></td>
            <% else %>
              <td><%= link_to image_tag(question.user.profile.avatar, class: 'avatar'), controller: :profiles, action: :show, id: question.user.profile.id %></td>
            <% end %>
            <td><h4><%= link_to question.title, question %></h4><p> created <%= time_ago_in_words(question.created_at) %> ago by <%= link_to question.user.profile.full_name, controller: :profiles, action: :show, id: question.user.profile.id %></p><p><%= question.topic.title %></p></td>

            <td><h6 class="text-right">Answers</h6><p class= "text-right"><%= question.answers.count %></p></td>

              </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="user-controls controls-wrapper2">
    <div class="row">
    <div class="col-sm-12 col-md-12 col-xs-12">
      <div class= "pull-right" ><%= will_paginate @questions %>
      </div>
      </div>
      </div>
      </div>
