<h3 class= "margin-top-md">Welcome to the codaisseur forum</h3>
<p>There is no such thing as a stupid question, only stupid people.</p>

<div class="user-controls controls-wrapper questions-inputs">
    <div class="row">


    <div class="col-sm-5 col-xs-8">
      <div class="input-group">
        <%= form_tag(questions_path, :method => "get", id: "search-form") do %>
        
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
            <%= text_field_tag :search, params[:search], placeholder: "Search...", class: "form-control"%>
        </div>
        <% end %>
        <% if @questions.present? %>
          <% render "form" %>
        <% else %>
          <p>There are no questions containing the term(s) <%= params[:search] %>.</p>
        <% end %>
      </div>
    </div>
    
    <div class="col-sm-3 col-sm-offset-2 col-xs-4">
      <form class="filter_form">
        <%= select_tag 'topic', options_from_collection_for_select(Topic.all, 'id', 'title'), prompt: "", onchange: "this.form.submit();", class: "form-control" %>
      </form>
    </div>
    <div class="col-sm-2 col-xs-12">
            <%= link_to 'New Question', new_question_path, class: "btn btn-codaisseur" %>
    </div>
  </div>
  <div class="row sorting-links">
    <div class="col-md-12">
      <ul class="list-inline">
        <li><%= sort_link "Popular" %></li>
        <li class="active"><%= sort_link "created_at", "New"  %></li>
      </ul>
    </div>
  </div>
</div>
<div class="table-wrapper">
  <table class="table table-hover table-users">
    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td><%= render partial: "layouts/avatar", locals: { user: question.user } %></td>
          <td><h4><%= link_to question.title, question %></h4><p> created <%= time_ago_in_words(question.created_at) %> ago by <%= link_to question.user.profile.full_name, controller: :profiles, action: :show, id: question.user.profile.id %></p><p class="btn btn-topic"><%= question.topic.title %></p></td>
          <td class="text-center"><h3><%= question.answers.count %></h3><p>Answers</p>
        </td>
        </tr>
      <% end %>
    </tbody>
  </table>
       <div class= "text-center margin-top"><%= will_paginate @questions, renderer: BootstrapPagination::Rails %>
      </div>
</div>
