
<h3><%= @question.title %></h3>
<p><%= @question.body %></p>

<h3>Answers</h3>

<% @question.answers.each do |answer| %>



<% end %>

<h3>Add an answer:</h3>
<%= form_for([@question, @question.answers.new], class: 'form-group') do |f| %>

  <div class="field">
    <%= f.text_area :body, class: 'form-control', placeholder: "Add question details..." %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: 'btn btn-codaisseur' %>
  </div>
<% end %>
