<!-- <div class="padding-link"> -->
<%= link_to 'Back to Overview', root_path, class: 'link-back'  %>
</div>



<div class="content-wrapper">
  <table class="table table-question">
    <tbody>
      <td style="padding-top:30px">
        <%= link_to image_tag(@question.user.profile.avatar, class: 'avatar'), controller: :profiles, action: :show, id: @question.user.profile.id %>
      </td>
      <td>
        <h3><%= @question.title %></h3>
        <p class="question-time-ago"><b>created <%= time_ago_in_words(@question.created_at) %> ago by <%= link_to @question.user.profile.full_name, controller: :profiles, action: :show, id: @question.user.profile.id %></b></p>
        <div id="question-<%= @question.id %>" class="question-body"><%= markdown(@question.body) %></div>
        <% if @question.user_id == current_user.id || current_user.is_admin?%>
        <div class="buttons">
          <button id="<%= @question.id %>" class="btn btn-codaisseur btn-xs edit-btn-question">Edit</button>
        </div>

        <div id="form-<%= @question.id %>" class="edit-question-form">
          <textarea class='form-control edit-body' name="name" rows="6"><%= @question.body %></textarea>
          <button question_id="<%= @question.id %>" question_id="<%= @question.id %>" class="btn-codaisseur btn pull-right save-edit-question">Save edit</button>
        </div>

        <div class="buttons">
          <button id="<%= @question.id %>" class="btn btn-codaisseur btn-xs"><%= link_to 'Destroy', @question, method: :delete, data: { confirm: 'Are you sure?' } %>
          </button>
        </div>

        <%end%>
      </td>
    </tbody>
  </table>
<hr>

<h4>
  <%= pluralize(@question.answers.length, 'Answer') %>
</h4>

  <table class="table table-hover table-answers">
    <tbody>
      <% @question.answers.each do |answer| %>
        <tr>
          <td><%= link_to image_tag(answer.user.profile.avatar, class: 'avatar'), controller: :profiles, action: :show, id: answer.user.profile.id%>
          </td>
          <td>
            <p class="answer-time-ago"> <%= link_to answer.user.profile.full_name, controller: :profiles, action: :show, id: answer.user.profile.id %>&nbsp;<%= time_ago_in_words(answer.created_at) %> ago</p>

            <div id="answer-<%= answer.id %>" class="answer-body"><%= markdown(answer.body) %></div>

            <% if answer.user_id == current_user.id || current_user.is_admin? %>
            <div class="buttons">
              <button id="<%= answer.id %>" class="btn btn-codaisseur btn-xs edit-btn-answer">Edit</button>
            </div>

            <div id="form-<%= answer.id %>" class="edit-answer-form">
              <textarea class='form-control edit-body' name="name" rows="6"><%= answer.body %></textarea>
              <button answer_id="<%= answer.id %>" question_id="<%= @question.id %>" class="btn-codaisseur btn pull-right save-edit-answer">Save edit</button>
            </div>

            <div class="buttons">
              <button id="<%= answer.id %>" class="btn btn-codaisseur btn-xs"><%= link_to 'Delete',  question_answer_path(answer.question, answer),   method: :delete, data: { confirm: 'Are you sure?' } %>

              </button>
            </div>

            <%end%>

          </tr>
      <% end %>
    </tbody>
  </table>

<br>

<h4>Add an Answer</h4>

<%= render 'answers/form' %>

</div>
