
<h3><%= @question.title %></h3>
<p><%= @question.body %></p>

<h3>Answers</h3>

<div class="answers">
  <% @question.answers.each do |answer| %>
    <div class="answer">
      <%= answer.user.email %><br>
      <%= answer.body %>
    </div>
    <br>
  <% end %>
</div>


<h3>Add an Answer</h3>

<%= form_for([@question, @question.answers.new], class: 'form-group') do |f| %>

  <div class="field">
    <%= f.text_area :body, class: 'form-control', placeholder: "Add answer details..." %>
  </div>
  <div class="actions">
    <%= f.submit "Post answer", class: 'btn btn-codaisseur' %>
  </div>
<% end %>
