
<%= link_to 'Back', root_path %>


<h3><%= @question.title %></h3>
<p><%= @question.body %></p>


<h4>
  <%= pluralize(@question.answers.length, 'Answer') %>
</h4>


<div class="answers">
  <% @question.answers.each do |answer| %>
    <div class="answer">
      <%= answer.user.email %><br>
      <%= markdown(answer.body) %>
    </div>
    <br>
  <% end %>
</div>



<h4>Add an Answer</h4>

<%= render 'answers/form' %>
