<div class="padding-link">
<%= link_to 'Back to Overview', root_path, class: 'link-back'  %>
</div>



<div class="content-wrapper">
  <table class="table table-question">
    <tbody>
      <td style="padding-top:30px">
        <%= link_to image_tag(@question.user.profile.avatar, class: 'avatar'), controller: :profiles, action: :show, id: @question.user.profile.id %>
      </td>
      <td>
        <h3><%= @question.title %></h3>
        <p class="question-time-ago"><b><%= time_ago_in_words(@question.created_at).capitalize %> ago</b> by <b><%= @question.user.profile.full_name %></b></p>
        <p><%= markdown(@question.body) %></p>
      </td>
      <td>
        <td class="text-right"><button class="btn btn-default" type="submit">Delete question</button>
        <button class="btn btn-codaisseur" type="submit">Edit question</button></td>
      </td>
    </tbody>
  </table>
<hr>

<h4>
  <%= pluralize(@question.answers.length, 'Answer') %>
</h4>

  <table class="table table-hover table-answers">
    <tbody>
      <% @question.answers.each do |answer| %>
        <tr>
          <td><%= link_to image_tag(answer.user.profile.avatar, class: 'avatar'), controller: :profiles, action: :show, id: answer.user.profile.id%>
          </td>
          <td>
            <p class="answer-time-ago"> <b><%= answer.user.profile.full_name%> </b><%= time_ago_in_words(answer.created_at) %> ago</p>

            <p><%= markdown(answer.body) %></p>
          </td>
          <td>
            <td class="text-right"><button class="btn btn-default" type="submit">Delete answer</button>
            <button class="btn btn-codaisseur" type="submit">  Edit answer  </button></td>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<br>

<h4>Add an Answer</h4>

<%= render 'answers/form' %>

</div>
