<%= form_for @profile do |f| %>
<table class="table table-wrapper">
  <tbody>
    <tr>
      <td><%= f.label :avatar %></td>
      <td><%= f.file_field :avatar %></td>
    </tr>
    <tr>
      <td><%= f.label :first_name %></td>
      <td><%= f.text_field :first_name, required: true %></td>
    </tr>
    <tr>
      <td><%= f.label :last_name %></td>
      <td><%= f.text_field :last_name, required: true %></td>
    </tr>
    <% if @user.is_student? %>
      <tr>
        <td><%= f.label 'Which class are/were you in?' %></td>
        <td><%= f.select :student_class, options_for_select(1..10), { include_blank: true, prompt: true } %></td>
      </tr>
    <% end %>
    <tr>
      <td><%= f.label 'About you' %></td>
      <td><%= f.text_area :bio, size: '40x5' %></td>
    </tr>
    <tr>
      <td><%= f.label 'Github username' %></td>
      <td><%= f.text_field :github %></td>
    </tr>
    <tr>
      <td><%= f.label 'Twitter username' %></td>
      <td><%= f.text_field :twitter %></td>
    </tr>
    <tr>
      <td><%= f.label 'Website URL' %></td>
      <td><%= f.text_field :website %></td>
    </tr>
    <tr>
      <td colspan="2" class="actions btn-submit-wrapper">
        <%= f.submit (@profile.new_record? ? "Create" : "Update"), class: "btn btn-codaisseur" %>
      </td>
    </tr>
  </tbody>
</table>

<% end %>
