<div class="padding-top-md">
  <div class="row">
    <div class="col-sm-4 col-sm-push-8">
      <h4>Your Account</h4>
      <p>Minim tousled iPhone master cleanse
      normcore bespoke. Aute magna truffaut
      exercitation mustache gentrify migas cray,
      tacos pabst mumblecore deserunt. </p>
    </div>

    <div class="col-sm-8 col-sm-pull-4 content-wrapper">
      <table class="table table-profile">
        <tr>
          <td>Your photo</td>
          <td><%= render partial: "layouts/avatar", locals: { user: @profile.user, size: 'big' } %></td>
        </tr>
        <tr>
          <td>First name</td>
          <td><%= @profile.first_name %></td>
        </tr>
        <tr>
          <td>Last name</td>
          <td><%= @profile.last_name %></td>
        </tr>
        <tr>
          <td>About you</td>
          <td><%= @profile.bio %></td>
        </tr>
        <tr>
          <td>Github Profile</td>
          <td><%= link_to @profile.github, 'http://www.github.com/' + @profile.github if !@profile.github.nil? %></td>
        </tr>
        <tr>
          <td>Twitter Username</td>
          <td><%= link_to @profile.twitter, 'http://www.twitter.com/' + @profile.twitter if !@profile.twitter.nil? %></td>
        </tr>
        <tr>
          <td>Website URL</td>
          <td><%= link_to @profile.website, @profile.website if !@profile.website.nil? %></td>
        </tr>
        <tr>
          <td colspan="2">
            <%= link_to 'Edit profile', edit_profile_path(current_user.profile), class: "btn btn-codaisseur pull-right" %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
