<div class="container">
  <table class="table">
    <thead>
      <tr>
        <td colspan="2" class="profile-name">
          <% if @profile.user.is_teacher? || @profile.user.is_admin? %>
            <%= image_tag(@profile.avatar, class: 'avatar avatar-big avatar-teacher') %>
          <% else %>
            <%= image_tag(@profile.avatar, class: 'avatar avatar-big') %>
          <% end %>
          <div>
            <span class="h3"><%= @profile.full_name %></span><br>
            <%= @profile.user.role.capitalize %>
            <%= '(' + @profile.course.name + ')' if !@profile.course.nil? %>
          </div>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
      </tr>
      <tr>
        <th>Bio</th>
        <td><%= @profile.bio if !@profile.bio.nil? %></td>
      </tr>
      <tr>
        <th>Github</th>
        <td><%= link_to @profile.github, 'http://www.github.com/' + @profile.github if !@profile.github.nil? %></td>
      </tr>
      <tr>
        <th>Twitter</th>
        <td><%= link_to @profile.twitter, 'http://www.twitter.com/' + @profile.twitter if !@profile.twitter.nil? %></td>
      </tr>
      <tr>
        <th>Website</th>
        <td><%= link_to @profile.website, @profile.website if !@profile.website.nil? %></td>
      </tr>
      <tr>
        <td colspan="2" class="text-right">
          <%= link_to 'Back', profiles_path, class: 'btn btn-cancel' %>
          <%= link_to 'Edit', edit_profile_path(@profile.id), class: 'btn btn-codaisseur' %>
        </td>
      </tr>
    </tbody>
  </table>

</div>
