<div>
<table class="table">
    <td class="image-col-width"><%= render partial: "layouts/avatar", locals: { user: current_user } %></td>
    <td>
      <%= form_for([@question, @question.answers.new], class: 'form-group', remote: true) do |f| %>
        <%= f.hidden_field :question_id %>
        <div class="field">
          <%= f.text_area :body, class: 'form-control', placeholder: "Add answer details...", rows: "8" %>
        </div>
        <div class="actions">
          <%= f.submit "Post answer", class: 'btn btn-codaisseur' %>
        </div>
      <% end %>
    </td>
</table>
</div>
