<!DOCTYPE html>
<html>
    <head>
    <title>Codaisseur Forum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>

    </head>

    <body>
        <%= render "layouts/navbar" %>
        <div class="container">
         <%= render partial: "shared/flash_messages", flash: flash %>
        <%= yield %>
        </div>
        <%= render "layouts/footer" %>
    </body>
</html>
